/* Estilos para el formulario */
.flex-outer > li > label,
.flex-outer li p {
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;    ;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    font-family: 'Roboto Mono', monospace;    ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flex-outer {
    list-style: none;
    padding: 0;
}

.flex-outer > li {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Roboto Mono', monospace;    ;

}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

/* Estilos para las casillas de verificación */
.flex-inner {
    list-style: none;
    padding: 15px;
    margin-top: 5px;
}

.flex-inner > li {
    display: inline-block;
    margin-right: 35px; /* Aumentamos el espacio entre las opciones de edad */
    font-size: 16px; 
}

/* Estilos para el botón de enviar */
button{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 15px 30px; /* Aumentamos el padding para hacer el botón más grande */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px; /* Aumentamos el tamaño de fuente del botón */
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    .flex-outer > li {
        margin-bottom: 10px;
    }

    label {
        font-size: 16px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        padding: 8px;
    }

    /* Estilos para las casillas de verificación en pantallas pequeñas */
    .flex-inner > li {
        margin-right: 5px;
        font-size: 14px;
    }

    /* Estilos para el botón de enviar en pantallas pequeñas */
    button[type="submit"] {
        padding: 8px 15px;
        font-size: 16px;
    }
}
